# Core Django
Django==5.0.2
djangorestframework==3.14.0

# WYSIWYG Editor
django-ckeditor==6.7.0

# Translation
googletrans==3.1.0a0
httpx==0.13.3  # Specific version required by googletrans

# Caching
django-redis==5.4.0
redis==5.0.1

# Testing
pytest==8.3.4
pytest-django==4.7.0
pytest-cov==4.1.0

# Required dependencies
certifi==2024.2.2